.elggMobile-Welcome {
    display: none;
}

.elggMobile-Return {
    display: none;
}

.elggMobile-site-list {
    display: none;
}

.elggMobile-site-item {
    display: none;
    /*transition: all 0.5s all;*/
}

.elggMobile-delete-button {

}
